<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <style>
        td {
            height: 30px;
        }

        .left {
            width: 50px;
        }

        .right {
            width: 150px;
        }
    </style>
</head>
<body>
<h3>用户详情-获取方式一</h3>
<table>
    <tr>
        <td class="left">编号：</td>
        <td class="right" th:text="${user.userId}">默认编号</td>
    <tr>
        <td>姓名：</td>
        <td th:text="${user.username}">默认姓名</td>
    <tr>
        <td>地址：</td>
        <td th:text="${user.address}">默认地址</td>
    <tr>
        <td>邮编：</td>
        <td th:text="${user.email}">默认邮箱</td>
</table>
<h3>用户详情-获取方式二</h3>
<table th:object="${user}">
    <tr>
        <td class="left">编号：</td>
        <td class="right" th:text="*{userId}">默认编号</td>
    <tr>
        <td>姓名：</td>
        <td th:text="*{username}">默认姓名</td>
    <tr>
        <td>地址：</td>
        <td th:text="*{address}">默认地址</td>
    <tr>
        <td>邮编：</td>
        <td th:text="*{email}">默认邮箱</td>
</table>
</body>
</html>